body {
  overflow: hidden;
  overflow-y: scroll;
}
Table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

Table td,
Table th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

Table thead {
  background-color: #ffcc00;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.half img {
  width: 50vw;
  height: 50vw;
  margin-left: 25vw;
}
